user reg
[
    {
        "id": "7f205949.3a67a8",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": ""
    },
    {
        "id": "2b439bd4.131cf4",
        "type": "function",
        "z": "7f205949.3a67a8",
        "name": "",
        "func": "msg.payload={\n    FIRST_NAME:msg.payload.first_name,\n    LAST_NAME:msg.payload.last_name,\n    ADDRESS:msg.payload.address,\n    DOB:msg.payload.dob,\n    AADHAR:msg.payload.aadhar,\n    PHONE:msg.payload.phone,\n    EMAIL:msg.payload.email,\n    PWD:msg.payload.pwd,\n    GENDER:msg.payload.gender\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "4e142fdd.87b32"
            ]
        ]
    },
    {
        "id": "8b3d07bf.32a128",
        "type": "function",
        "z": "7f205949.3a67a8",
        "name": "",
        "func": "if(msg.payload.pwd==msg.payload.cnf_pwd)\n{\n    msg.payload=\"Hey, \"+msg.payload.first_name+\"! Registration successful.\";\n}\nelse msg.payload=\"Passwords do not match.\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 360,
        "y": 360,
        "wires": [
            [
                "8d5a5fa.f1401a"
            ]
        ]
    },
    {
        "id": "4e142fdd.87b32",
        "type": "dashDB out",
        "z": "7f205949.3a67a8",
        "dashDB": "cde27601.ecf0f8",
        "service": "_ext_",
        "table": "USER_DETAILS",
        "name": "",
        "x": 610,
        "y": 160,
        "wires": []
    },
    {
        "id": "ba3cfafe.712338",
        "type": "ui_form",
        "z": "7f205949.3a67a8",
        "name": "",
        "label": "",
        "group": "81bb775e.0dca88",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "First Name",
                "value": "first_name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Last Name",
                "value": "last_name",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Address",
                "value": "address",
                "type": "text",
                "required": true,
                "rows": null
            },
            {
                "label": "Date of Birth",
                "value": "dob",
                "type": "date",
                "required": false,
                "rows": null
            },
            {
                "label": "Aadhar Number",
                "value": "aadhar",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "Phone Number",
                "value": "phone",
                "type": "number",
                "required": true,
                "rows": null
            },
            {
                "label": "eMail ID",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "pwd",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Confirm Password",
                "value": "cnf_pwd",
                "type": "password",
                "required": true,
                "rows": null
            },
            {
                "label": "Gender(Male/Female/Other)",
                "value": "gender",
                "type": "text",
                "required": false,
                "rows": null
            }
        ],
        "formValue": {
            "first_name": "",
            "last_name": "",
            "address": "",
            "dob": "",
            "aadhar": "",
            "phone": "",
            "email": "",
            "pwd": "",
            "cnf_pwd": "",
            "gender": ""
        },
        "payload": "",
        "submit": "Create Account",
        "cancel": "Reset",
        "topic": "",
        "x": 140,
        "y": 220,
        "wires": [
            [
                "8b3d07bf.32a128",
                "2b439bd4.131cf4",
                "42a3159c.cf21dc"
            ]
        ]
    },
    {
        "id": "8d5a5fa.f1401a",
        "type": "ui_text",
        "z": "7f205949.3a67a8",
        "group": "81bb775e.0dca88",
        "order": 2,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 540,
        "y": 360,
        "wires": []
    },
    {
        "id": "847e146d.a9a618",
        "type": "ui_toast",
        "z": "7f205949.3a67a8",
        "position": "dialog",
        "displayTime": "10",
        "highlight": "",
        "sendall": false,
        "outputs": 1,
        "ok": "OK",
        "cancel": "",
        "raw": false,
        "topic": "",
        "name": "",
        "x": 530,
        "y": 240,
        "wires": [
            []
        ]
    },
    {
        "id": "42a3159c.cf21dc",
        "type": "function",
        "z": "7f205949.3a67a8",
        "name": "",
        "func": "msg.payload=\"Registration Successful\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 330,
        "y": 220,
        "wires": [
            [
                "847e146d.a9a618"
            ]
        ]
    },
    {
        "id": "cde27601.ecf0f8",
        "type": "dashDB",
        "z": null,
        "hostname": "dashdb-txn-sbox-yp-lon02-06.services.eu-gb.bluemix.net",
        "db": "BLUDB",
        "port": "50000",
        "name": ""
    },
    {
        "id": "81bb775e.0dca88",
        "type": "ui_group",
        "z": "",
        "name": "Sign Up",
        "tab": "7cc609e1.09fce8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7cc609e1.09fce8",
        "type": "ui_tab",
        "z": "",
        "name": "user",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
