User login
[
    {
        "id": "2ceeb0c6.f433a",
        "type": "debug",
        "z": "7f205949.3a67a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 510,
        "y": 180,
        "wires": []
    },
    {
        "id": "db608025.020c3",
        "type": "dashDB in",
        "z": "7f205949.3a67a8",
        "dashDB": "cde27601.ecf0f8",
        "service": "Db2-so",
        "query": "SELECT \"PWD\" FROM \"USER_DETAILS\" WHERE \"EMAIL\"=Email\n",
        "params": "",
        "name": "",
        "x": 240,
        "y": 120,
        "wires": [
            [
                "3fcf8c86.e1c4f4"
            ]
        ]
    },
    {
        "id": "a7bff8a0.bba768",
        "type": "function",
        "z": "7f205949.3a67a8",
        "name": "",
        "func": "global.set(\"password\",msg.payload.password);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 270,
        "y": 200,
        "wires": [
            [
                "96bf741e.07d898"
            ]
        ]
    },
    {
        "id": "3fcf8c86.e1c4f4",
        "type": "function",
        "z": "7f205949.3a67a8",
        "name": "",
        "func": "if(msg.payload=global.get(\"password\")){\n   msg.payload=true;\n}\n   return msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440,
        "y": 80,
        "wires": [
            [
                "1fe07d4f.88d633"
            ]
        ]
    },
    {
        "id": "96bf741e.07d898",
        "type": "debug",
        "z": "7f205949.3a67a8",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 710,
        "y": 140,
        "wires": []
    },
    {
        "id": "720055d.9a32aac",
        "type": "ui_button",
        "z": "7f205949.3a67a8",
        "name": "Sign Up",
        "group": "80db9e18.b1815",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "label": "Sign Up",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "{\"tab\":\"user\"}",
        "payloadType": "json",
        "topic": "",
        "x": 60,
        "y": 200,
        "wires": [
            [
                "d162f327.826e5"
            ]
        ]
    },
    {
        "id": "45eb3fa9.a221",
        "type": "ui_form",
        "z": "7f205949.3a67a8",
        "name": "form",
        "label": "",
        "group": "80db9e18.b1815",
        "order": 1,
        "width": 0,
        "height": 0,
        "options": [
            {
                "label": "Email",
                "value": "email",
                "type": "email",
                "required": true,
                "rows": null
            },
            {
                "label": "Password",
                "value": "password",
                "type": "password",
                "required": true,
                "rows": null
            }
        ],
        "formValue": {
            "email": "",
            "password": ""
        },
        "payload": "",
        "submit": "Login",
        "cancel": "",
        "topic": "",
        "x": 90,
        "y": 120,
        "wires": [
            [
                "db608025.020c3",
                "a7bff8a0.bba768"
            ]
        ]
    },
    {
        "id": "d162f327.826e5",
        "type": "ui_ui_control",
        "z": "7f205949.3a67a8",
        "name": "",
        "events": "change",
        "x": 540,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "7d5809d4.25c648",
        "type": "ui_template",
        "z": "7f205949.3a67a8",
        "group": "81bb775e.0dca88",
        "name": "",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "x": 340,
        "y": 380,
        "wires": [
            [
                "2ceeb0c6.f433a"
            ]
        ]
    },
    {
        "id": "51d977fc.75dc98",
        "type": "change",
        "z": "7f205949.3a67a8",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"tab\":\"Booking\"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 760,
        "y": 80,
        "wires": [
            [
                "e96d0d8b.ef5ed"
            ]
        ]
    },
    {
        "id": "e96d0d8b.ef5ed",
        "type": "ui_ui_control",
        "z": "7f205949.3a67a8",
        "name": "",
        "events": "change",
        "x": 760,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "1fe07d4f.88d633",
        "type": "switch",
        "z": "7f205949.3a67a8",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 610,
        "y": 80,
        "wires": [
            [
                "51d977fc.75dc98"
            ]
        ]
    },
    {
        "id": "cde27601.ecf0f8",
        "type": "dashDB",
        "z": null,
        "hostname": "dashdb-txn-sbox-yp-lon02-06.services.eu-gb.bluemix.net",
        "db": "BLUDB",
        "port": "50000",
        "name": ""
    },
    {
        "id": "80db9e18.b1815",
        "type": "ui_group",
        "z": "",
        "name": "Login",
        "tab": "6dbd193b.36cdb8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "81bb775e.0dca88",
        "type": "ui_group",
        "z": "",
        "name": "Sign Up",
        "tab": "7cc609e1.09fce8",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "6dbd193b.36cdb8",
        "type": "ui_tab",
        "z": "",
        "name": "Home",
        "icon": "dashboard",
        "order": 9,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "7cc609e1.09fce8",
        "type": "ui_tab",
        "z": "",
        "name": "user",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
